chezmoi:template:left-delimiter=[[ right-delimiter=]]
[[ if eq .chezmoi.hostname "mynixos" ]]
alias gg "git pull"
alias gs "git status"
alias gp git_push
alias ea "eza -1 --icons always"
alias eal "eza -lh --icons always"
alias i hx
alias t "ttdl --human"
alias ty trash
alias cm chezmoi
[[ end ]]
