shell=/usr/bin/fish

font=Hack Nerd Font:style=Regular:size=14
font-bold=Hack Nerd Font:style=Bold:size=14
font-italic=Hack Nerd Font Mono:style=Italic:size=14
font-bold-italic=Hack Nerd Font Mono:style=Bold Italic:size=14

initial-color-theme={{ .foot_color }}

pad=5x10

[bell]
system=no

[url]
label-letters=etisuran,covpdél

[cursor]
style=underline
underline-thickness=1

[colors]
alpha={{ .foot_opacity }}
background=eff1f5
foreground=4c4f69

regular0=bcc0cc # black
regular1=d20f39 # red
regular2=40a02b # green
regular3=df8e1d # yellow
regular4=1e66f5 # blue
regular5=ea76cb # magenta
regular6=179299 # cyan
regular7=5c5f77 # white

bright0=acb0be # bright black
bright1=d20f39 # bright red
bright2=40a02b # bright green
bright3=df8e1d # bright yellow
bright4=1e66f5 # bright blue
bright5=ea76cb # bright magenta
bright6=179299 # bright cyan
bright7=6c6f85 # bright white

[colors2]
alpha={{ .foot_opacity }}
background=000000
foreground=ffffff

regular0=000000 # black
regular1=fe0100 # red
regular2=33ff00 # green
regular3=feff00 # yellow
regular4=0066ff # blue
regular5=cc00ff # magenta
regular6=00ffff # cyan
regular7=d0d0d0 # white

bright0=808080 # bright black
bright1=fe0100 # bright red
bright2=33ff00 # bright green
bright3=feff00 # bright yellow
bright4=0066ff # bright blue
bright5=cc00ff # bright magenta
bright6=00ffff # bright cyan
bright7=ffffff # bright white
