if status is-interactive
    set -g fish_greeting ''

    export EDITOR=/usr/bin/helix
    export PATH="$PATH:$HOME/.cargo/bin/"
    {{ if eq .chezmoi.hostname "arch-niri" }}export PATH="$HOME/.config/myscripts/:$PATH"
    export DIFFPROG=meld

    bind \eh 'wtype !!\n'
    bind \e\r 'wtype -M ctrl -k f -m ctrl ; wtype \n'
    bind \er 'wtype -M alt -k Left -m alt'
    bind \en 'wtype -M alt -k Right -m alt'
    bind \ew backward-kill-path-component
    bind \eg 'wtype " | grep "'
    {{ else }}
    export PATH="$PATH:$HOME/go/bin/"
    {{ end }}
    starship init fish | source
    zoxide init --cmd e fish | source

    eval (ssh-agent -c)
    ssh-add ~/.ssh/github
    clear

    function y
        set tmp (mktemp -t "yazi-cwd.XXXXXX")
        yazi $argv --cwd-file="$tmp"
        if set cwd (command cat -- "$tmp"); and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
            builtin cd -- "$cwd"
        end
        rm -f -- "$tmp"
    end

    fish_config theme choose {{ .global_theme }}
    {{ if ne .chezmoi.hostname "arch-niri" }}
    function changeTheme
        if cat ~/.config/chezmoi/chezmoi.toml | grep light > /dev/null
            sed -i "s/light/dark/g" ~/.config/chezmoi/chezmoi.toml
        else
            sed -i "s/dark/light/g" ~/.config/chezmoi/chezmoi.toml
        end
        chezmoi apply --force
    end{{ end }}
end

function apply-my-theme --on-variable=my_theme
    fish_config theme choose $my_theme
end
